//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include		<resource.h>
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define	ICO_GAME		1000

#define INIT_PAGE       100
#define SELECT_PAGE     101
#define PLAY_PAGE       102
#define RESULT_PAGE     103

#define TAP_EFFECT      200
#define CATCH_EFFECT    201

#define MUSIC_SELECT_0  105
#define MUSIC_SELECT_1  106
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
ICO_GAME	ICON		"Game.ico"
INIT_PAGE   BITMAP      "init_bg.bmp"
SELECT_PAGE BITMAP      "select_music.bmp"
PLAY_PAGE   BITMAP      "play.bmp"
RESULT_PAGE BITMAP      "results.bmp"

TAP_EFFECT    BITMAP      "tap_effect.bmp"
CATCH_EFFECT  BITMAP      "catch_effect.bmp"
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
MUSIC_SELECT_0   BITMAP "Cyaegha_select.bmp"
MUSIC_SELECT_1   BITMAP "Sheriruth_select.bmp"
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
