//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include		<resource.h>
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define	ICO_MAIN		10000
#define	DLG_MAIN		10000
#define DLG_SPEED		10001
#define IDC_CANCEL		10002
#define DLG_DELAY       10003
#define DLG_KEY1        10004
#define DLG_KEY2        10005
#define DLG_KEY3        10006
#define DLG_KEY4        10007

DLG_MAIN DIALOG 227, 187, 129, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 9, "MS Shell Dlg"
{
 LTEXT "Speed", -1, 10, 10, 34, 8
 EDITTEXT DLG_SPEED, 47, 8, 71, 12, ES_NUMBER | WS_BORDER | WS_TABSTOP
 LTEXT "Delay", -2, 10, 29, 34, 8
 EDITTEXT DLG_DELAY, 47, 27, 71, 12, ES_NUMBER | WS_BORDER | WS_TABSTOP
 LTEXT "Key1", -3, 10, 51, 34, 8
 EDITTEXT DLG_KEY1, 47, 49, 71, 12, WS_BORDER | WS_TABSTOP
 LTEXT "Key2", -4, 10, 70, 34, 8
 EDITTEXT DLG_KEY2, 47, 68, 71, 12, WS_BORDER | WS_TABSTOP
 LTEXT "Key3", -5, 10, 88, 34, 8
 EDITTEXT DLG_KEY3, 47, 87, 71, 12, WS_BORDER | WS_TABSTOP
 LTEXT "Key4", -6, 10, 107, 34, 8
 EDITTEXT DLG_KEY4, 47, 106, 71, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "OK", IDOK, 8, 130, 50, 14
 PUSHBUTTON "CANCEL", IDC_CANCEL, 68, 130, 50, 14, WS_TABSTOP
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>